@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

canvas {
  display: block;
  position: absolute;
  top: 0;
  z-index: 0;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */
#particles-js {
  width: 100vw;
  height: 100vh;
  background-color: #023047ff;
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: 50% 50%;
}

.jumbo {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: Inter;
  position: absolute;
}

.jumbo__title {
  font-weight: 900;
  font-size: 2.5em;
  background: -webkit-linear-gradient(90deg, #fb8500ff, #ffb703ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.jumbo__subtitle {
  font-size: 1em;
  width: 80%;
  margin-top: 0.5rem;
  color: #ffb703ff;
  margin-bottom: 0.5rem;
  text-align: center;
  font-weight: 400;
}

.jumbo__date {
  font-size: 1.1em;
  font-weight: 700;
  color: #ffb703ff;
}

.jumbo__cta {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: none;
  width: 50%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 6px;
  min-height: 40px;
  margin-top: 1rem;
  background-color: transparent;
  border: 2px solid #ffb703ff;
  -webkit-transition: all ease-in-out 500ms;
  transition: all ease-in-out 500ms;
}

.jumbo__cta:hover {
  background-color: #ffb703ff;
  color: #023047ff;
  cursor: pointer;
}

.jumbo__cta:hover button {
  cursor: pointer;
  color: #023047ff;
}

.jumbo__btn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: none;
  font-size: 1.1em;
  color: #ffb703ff;
  font-weight: 600;
  background: transparent;
}

.about {
  background-color: #ffb703ff;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Inter';
}

.about__title {
  font-weight: 900;
  letter-spacing: 0.75px;
  text-align: center;
  font-size: 2em;
  color: #023047ff;
}

.about__content {
  width: 80%;
  text-align: center;
  margin-top: 1rem;
  font-weight: 300;
  font-size: 1.2em;
  color: #011f2e;
}

.timer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #023047ff;
}

.timer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.timer__days {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.timer__daysn {
  margin-top: 1rem;
  font-size: 3em;
  font-weight: 900;
  color: #8ecae6ff;
  font-family: 'Inter';
}

.timer__daysd {
  font-size: 1.5em;
  color: #fb8500ff;
  font-family: 'Inter';
}

.disabled {
  visibility: hidden;
}

.tracks {
  background-color: #fb8500ff;
  font-family: 'Inter';
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.tracks__title {
  font-size: 2em;
  text-align: center;
  font-weight: 900;
  color: #011924;
}

.tracks__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tracks__track {
  width: 80%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: #011924;
  border-radius: 1rem;
}

.tracks__track-title {
  text-align: center;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: #fb8500ff;
  font-size: 1.7em;
  padding-left: 8px;
  padding-right: 8px;
  font-weight: 800;
}

.tracks__track-subtitle {
  text-align: center;
  font-size: 1.5em;
  color: #ffb703ff;
  font-weight: 300;
  text-transform: uppercase;
}

.tracks__img {
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.tracks__track-list {
  list-style: none;
  text-align: center;
  margin-top: 1rem;
  color: #8ecae6ff;
  margin-bottom: 2rem;
}

.tracks__track-list-item {
  font-size: 1.2em;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 0.75rem;
}

.tracks__header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.guidelines {
  background-color: #ffb703ff;
  font-family: 'Inter';
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.guidelines__title {
  font-size: 2em;
  font-weight: 900;
  text-align: center;
  color: #023047ff;
}

.guidelines__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #011924;
}

.guidelines__list-item {
  margin-top: 1rem;
  font-size: 1.2em;
  width: 75%;
  font-weight: 400;
}

.guidelines__list-item a {
  color: #023047ff;
}

.guidelines__list-item:first-of-type {
  margin-top: 1.5rem;
}

.prizes {
  background-color: #023047ff;
  font-family: 'Inter';
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.prizes__title {
  font-weight: 900;
  font-size: 2em;
  text-align: center;
  color: #fb8500ff;
  margin-bottom: 1rem;
}

.prizes__list {
  width: 80%;
}

.prizes__list-item {
  margin-top: 1rem;
  line-height: 1.75rem;
  color: #ffb703ff;
  font-weight: 400;
  font-size: 1.2em;
}

.prizes__list-item:last-of-type {
  margin-bottom: 2rem;
}

.prizes__certificates {
  width: 80%;
  color: #ffb703ff;
  font-weight: 700;
  font-size: 1.1em;
}

.resources {
  background-color: #011924;
  font-family: 'Inter';
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.resources__title {
  font-size: 2em;
  text-align: center;
  font-weight: 900;
  color: #fb8500ff;
}

.resources__subtitle {
  font-size: 1.5em;
  color: #ffb703ff;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.resources__list {
  width: 70%;
  margin-top: 1rem;
}

.resources__list-item {
  color: #8ecae6ff;
  list-style: none;
  margin-bottom: 2rem;
}

.resources__list-item a {
  color: #219ebcff;
}

.resources__list-item a:hover {
  color: #8ecae6ff;
}

.resources__note {
  color: #ffb703ff;
  width: 80%;
  font-weight: 700;
}

.register {
  background-color: #ffb703ff;
  font-family: 'Inter';
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.register__title {
  font-size: 2em;
  text-align: center;
  font-weight: 900;
  color: #023047ff;
}

.register__tagline {
  font-size: 1em;
  width: 70%;
  text-align: center;
  color: #011924;
  font-weight: 400;
  margin-top: 0.5rem;
}

.register__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1.5rem;
  width: 70%;
}

.register__input {
  width: 100%;
  margin-bottom: 1rem;
  height: 48px;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 6px;
  font-size: 1em;
  border: none;
  outline: none;
  -webkit-box-shadow: 0 0 6px 0 #ffffff88;
          box-shadow: 0 0 6px 0 #ffffff88;
  background-color: #fff;
}

.register__submit {
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: none;
  background-color: transparent;
  color: #023047ff;
  border: 2px solid #023047ff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.1em;
  text-align: center;
  font-weight: 700;
  border-radius: 6px;
  margin-top: 1rem;
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
}

.register__submit:hover {
  background-color: #023047ff;
  color: #ffb703ff;
  cursor: pointer;
}

.register__buttons {
  display: none;
  margin-top: 2rem;
  width: 70%;
  margin-bottom: 2rem;
  font-size: 1em;
  text-align: center;
  font-weight: 600;
  color: #023047ff;
}

.register__buttons p {
  margin-bottom: 1rem;
}

.register__buttons button {
  width: 100%;
  height: 4rem;
  text-align: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 6px;
  background-color: transparent;
  border: 2px solid #023047ff;
  font-size: 1.1em;
  color: #023047ff;
  font-weight: 600;
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
}

.register__buttons button:hover {
  background-color: #023047ff;
  color: #ffb703ff;
  cursor: pointer;
}

.register__buttons button:last-of-type {
  margin-bottom: 0;
}

.footer {
  padding-bottom: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 4rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Inter';
  background-color: #023047ff;
}

.footer__title {
  font-weight: 900;
  font-size: 2.5em;
  text-align: center;
  background: -webkit-linear-gradient(90deg, #fb8500ff, #ffb703ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer__date {
  text-align: center;
  font-size: 1.1em;
  margin-top: 1rem;
  color: #ffb703ff;
}

.footer__credits {
  margin-top: 1.5rem;
  font-weight: 400;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 0.9em;
  text-align: center;
  color: #ffb703ff;
}

@media screen and (min-width: 768px) {
  .jumbo__cta {
    width: 25%;
  }
  .timer {
    padding-bottom: 6rem;
    padding-top: 6rem;
  }
  .timer__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .about {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-left: 5%;
    padding-right: 5%;
  }
  .about__content {
    text-align: left;
    padding-left: 4rem;
    width: 60%;
  }
  .tracks__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .tracks__title {
    font-size: 3em;
  }
  .tracks__track {
    width: 25%;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .guidelines {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .guidelines__title {
    font-size: 3em;
  }
  .guidelines__list {
    width: 70%;
  }
  .prizes__title,
  .resources__title {
    font-size: 3em;
  }
  .prizes__list,
  .resources__list {
    list-style: none;
    text-align: center;
  }
  .prizes__certificates,
  .resources__certificates {
    text-align: center;
  }
  .prizes__note,
  .resources__note {
    text-align: center;
    font-size: 1.5em;
  }
  .prizes__subtitle,
  .resources__subtitle {
    font-size: 2em;
  }
  .register__title {
    font-size: 3em;
  }
  .register__tagline {
    font-size: 1.2em;
    margin-bottom: 1rem;
  }
  .register__input {
    width: 70%;
  }
  .register__submit {
    width: 70%;
  }
  .register__buttons {
    width: 70%;
  }
}

@media screen and (min-width: 1200px) {
  .jumbo__cta {
    width: 15%;
  }
  .about {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .tracks {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .tracks__title {
    font-size: 3em;
    margin-bottom: 2rem;
  }
  .tracks__track {
    width: 20%;
  }
  .guidelines {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .guidelines__title {
    font-size: 3em;
  }
  .guidelines__list {
    width: 50%;
    margin-top: 1rem;
  }
  .prizes,
  .resources {
    padding: 0;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .prizes__title,
  .resources__title {
    font-size: 3em;
  }
  .prizes__list,
  .resources__list {
    list-style: none;
    text-align: center;
  }
  .prizes__certificates,
  .resources__certificates {
    text-align: center;
  }
  .prizes__note,
  .resources__note {
    text-align: center;
    font-size: 1.5em;
  }
  .prizes__subtitle,
  .resources__subtitle {
    font-size: 2em;
  }
  .register {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .register__input {
    width: 30%;
  }
  .register__submit {
    width: 30%;
  }
  .register__buttons {
    width: 30%;
  }
}

@media screen and (max-width: 367px) {
  .jumbo__title {
    font-size: 1.75em;
  }
  .footer__title {
    font-size: 1.75em;
  }
}
/*# sourceMappingURL=main.css.map */